.main {
  min-height: 90vh;
  /* padding: 4rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgb(247, 247, 247);
  background: linear-gradient(
    90deg,
    rgba(242, 242, 242, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(242, 242, 242, 1) 100%
  );
}

.footer {
  color: rgb(50, 50, 50);
  font-weight: bold;
  min-height: 10vh;
  display: flex;
  flex: 1;
  align-items: center;
  background-color: #80b8fa;
  justify-content: flex-end;
  align-items: center;
}

.footer a {
  padding: 0 2em 0 1em;
  display: flex;
  align-items: center;
}
.footer a:hover {
  opacity: 0.5;
}
.footer button {
  padding: 0.4em;
  border-radius: 24px;
  font-weight: bolder;

  color: #4774a7;
  border: 2px dotted #5b8ec9;
  background-color: #80b8fa;

  /* color: #ffd79c;
  border: 2px dotted #fdc775;*/
}
.footer button:hover {
  background-color: #8dc2fe;
}

/* https://www.shapedivider.app */
.customShapeDivider {
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 0;
}

.customShapeDivider svg {
  position: relative;
  display: block;
  width: calc(123% + 1.3px);
  height: 202px;
}

.customShapeDivider .shapeFill {
  fill: #80b8fa;
}
/*  */

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .customShapeDivider svg {
    width: calc(140% + 1.3px);
    height: 175px;
  }
}
@media (prefers-color-scheme: dark) {
  .main {
    background: rgb(38, 38, 38);
    background: linear-gradient(
      90deg,
      rgba(38, 38, 38, 1) 0%,
      rgb(57, 57, 57) 50%,
      rgba(38, 38, 38, 1) 100%
    );
  }
}
