.container {
  background-color: lightblue;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  gap: 1em;
}
.container button {
  padding: 0.5em;
  border: 2px solid white;
  background-color: rgb(214, 232, 238);

  border-radius: 24px;
}
.container button:hover {
  background-color: rgb(221, 226, 227);
}

.red {
  background-color: #d99a9aff;
}
.orange {
  background-color: #eeba77ff;
}
.yellow {
  background-color: #eae178ff;
}
.green {
  background-color: #c0d470ff;
}
.blue {
  background-color: #9bd4c3ff;
}
.pink {
  background-color: #dbade4ff;
}
.purple {
  background-color: #aa9dd4ff;
}
